---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Testimonials from '../components/Testimonials.astro';
import Demo from '../components/Demo.astro';
import TrustSignals from '../components/TrustSignals.astro';
import DemoForm from '../components/DemoForm.astro';
import NewsletterCTA from '../components/NewsletterCTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="AssistX - Boost Your Business ROI with Omnichannel Support">
  <Navigation />
  <main class="pt-16">
    <Hero />
    <Features />
    <Demo />
    <Testimonials />
    <TrustSignals />
    <DemoForm />
    <NewsletterCTA />
  </main>
  <Footer />
</Layout>