---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Benefits from '../components/product/Benefits.astro';
import Pricing from '../components/product/Pricing.astro';
import DemoForm from '../components/DemoForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="AssistX Features - Omnichannel Support Solution">
  <Navigation />
  <main class="pt-16">
    <Benefits />
    <Pricing />
    <DemoForm />
  </main>
  <Footer />
</Layout>